# python
__pycache__/
*.pyc
.venv/
.env

# jupyter
.ipynb_checkpoints/

# data
data/raw/
data/**/reports/
data/**/contact_pack_*.xlsx
data/**/contact_pack_*.md

# models (keep joblib, ignore huge alternatives)
models/*.pkl
!models/*.joblib

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
